.Card:hover {
    background-color: #f8f8f8;
}

.Card .client-id {
    display: block;
    padding-right: 10px;
    text-align: center;
    font-size: 1.3rem;
    min-width: 40px;
}

.Card .client-name {
    font-size: 1.3rem;
    padding-left: 10px;
}